.form {
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 400px;

	h1 {
		margin-bottom: 0;
	}

	.form-body {
		.row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;

			.column {
				display: flex;
				margin: 15px 0;
				flex-direction: column;
				flex-basis: 100%;
				flex: 1;
			}

			.double-column {
				display: flex;
				flex-direction: row;
				flex-basis: 100%;
				width: 100%;
				flex: 2;
			}
		}

	}
}