.form {
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 400px;

	h1 {
		margin-bottom: 0;
	}

	.form-body {
		display: flex;
		flex-direction: column;

		.field {
			margin: 10px 0;
		}

	}
}