$red: #F94144;
$orange: #F3722C;
$carrotOrange: #F8961E;
$coral: #F9844A;
$saffron: #F9C74F;
$pistachio: #90BE6D;
$zomp: #43AA8B;
$darkCyan: #4D908E;
$paynesGray: #577590;
$curulean: #277DA1;
$gray: #6c757d;
$white: #FFFFFF;

:export {
  red: $red;
  orange: $orange;
  carrotOrange: $carrotOrange;
  coral: $coral;
  saffron: $saffron;
  pistachio: $pistachio;
  zomp: $zomp;
  darkCyan: $darkCyan;
  paynesGray: $paynesGray;
  curulean: $curulean;
}